/* Global
==================================*/
@font-face {
  font-family: chalk;
  src: url('chalk-font.ttf');
}
body{
  background-color: #8AC53F;
}
h1, h2{
  color: #653090;
  font-family: 'Courgette', cursive;
}
h2{
  padding-left: 0.9375rem;
}
h3,h4,h5{
  color: #F59432;
  font-family: 'Courgette', cursive;
}
.fullwidth{
  width: 100%;
  margin: 0px auto;
  max-width: initial;
  padding: 2em 0px;
}
.red{
  color: #e87575;
}
.green{
  color: #84db84;
}
.blue{
  color: #A2DEEF;
}
.yellow{
  color: #E8F7A0;
}

/* Header
==================================*/
.logo{

}
.header-wrap{
  background:url('../img/stripedbg.gif');
  border-bottom: 5px solid white;
}
.chalkboard{
  background-color: #353432;
  color: #f9f0f0;
  padding: 10px;
  border: 10px solid #B69DC8;
  border-radius: 5px;
  font-family: chalk;
  border: 10px solid #653090;
  font-size: 1.8rem;
  text-align: justify;
  margin-top: 7%;
}

.news{
  background: #653090;
}
.news h2{
  color: white;
}

/* Flavors
==================================*/
.flavors-wrap{
  background-color: #353432;
}
.flavors{
  color: white;
  padding: 2rem 0;
}
.flavors h1{
  color: white;
}
.flavors h2{
  color: white;
  font-family: chalk;
  font-size: 3.4em;
}
.flavors h3{
  text-align: center;
  font-family: chalk;
}
.flavors ul{
  list-style: none;
  margin: 0;
}
.flavors ul li{
  color: white;
  font-family: chalk;
  font-size: 2rem;
  text-align: center;
  line-height: .95em;
}
.flavors ul li:nth-child(4n-7){
  color: #CEF591; /*green*/
}
.flavors ul li:nth-child(4n-6){
  color: #65DDFF; /*lightblue*/
}
.flavors ul li:nth-child(4n-5){
  color: #F78D8D; /*lightblue*/
}
.create-your-own{
  font-family: chalk;
  font-size: 2em;
}
.unique-flavors{
  margin-bottom:30px !important;
}
.flavors button{
  font-family: chalk;
}
.flavors input, .flavors textarea{
font-family: initial;
}
.flavors label{
  color: white !important;
  font-family: chalk;
  font-size: 1.3em;
}

/* Dye Free
==================================*/
ul.dye-free li{
  text-align: center;
}

/* Sugar Free
==================================*/
ul.sugar-free li{
  text-align: center;
}
/* Footer
==================================*/
.footer-wrap{
  background: black;
  border-top: 5px solid white;
}
footer{
  color: #fff;
}
footer ul{
  list-style: none;
  margin: 0;
}
footer ul li{
  margin: none;
}

ul.social li i{
  font-size: 2.8rem;
  color: white;
}

ul.social li:first-child{
  margin-left: 0;
}
