<div class="footer-wrap fullwidth">
	<footer class="row">
		<div class="columns large-4">
			<h4>Information</h4>
			<h5>Address:</h5>
			<ul>
				<li>
					5215 New Cut Rd
				</li>
				<li>
					Louisville, KY 40214
				</li>
			</ul>

			<h5>Hours:</h5>
			<ul>
				<li>Mon - Thu: 1:00 pm - 7:00 pm</li>
				<li>Fri - Sat: 1:00 pm - 9:00 pm</li>
				<li>Sun: 1:00 pm - 8:00 pm</li>
			</ul>
		</div>

		<div class="columns large-4">
			<h4>Share Us</h4>
		</div>
		<div class="columns large-4">
			<h4>Recent News</h4>
			<ul>
			</ul>
		</div>
	</footer>
</div>